.content 
{
    font-family: sans-serif;
}

.Logo 
{
    padding-left: 30px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 45px;
    color: black;
}

.navL 
{
    float: left;
    font-size: larger;
    margin-top: 20px;
    
}

.navL a 
{

    margin-left:150px;
    text-decoration: none;
    color: black;
}

.navR 
{
    float: right;
    font-size: larger;
    margin-top: 20px
}

.navR a 
{
    margin-right: 150px;
    text-decoration: none;
    color: black;
}

.navL a:hover 
{
border-bottom-style: solid;
    
}

.navR a:hover 
{
border-bottom-style: solid;
    
}

.sBar input[type=text]
{
    margin-left: 270px;  
    padding-right: 300px;
    
}

.loggInput 
{
    margin-left: 840px;
    margin-top: 350px;
}


